* {
	box-sizing: border-box;
  }
  
  .course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 10px;
	overflow: hidden;
  }
  
  .course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
  }
  
  .course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
  }
  
  .course-preview {
	background-color: #b5cea8;
	color: #000;
	padding: 30px;
	max-width: 250px;
	
  }
  
  .course-preview a {
	color: #000;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
  }
  
  .course-info {
	padding: 30px;
	position: relative;
	width: 100%;
  }
  
  .progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 100%;
  }
  
  .progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
  }
  
  .progress::after {
	border-radius: 3px;
	background-color: #b5cea8;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 66%;
  }
  
  .progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
  }
  
  .btn {
	background-color: #b5cea8;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #000;
	font-size: 16px;
	padding: 12px 25px;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
  }
  
  /* width */
  ::-webkit-scrollbar {
	width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: rgb(197, 228, 226);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }
  .td2 {
	width: 40%;
	height: 100%;
	margin: auto;
	background-color: #d0f1e1;
  }
  mat-card{
	  margin: 3%;
  
  }
  .subir{
  
  }
  
  a {
	  text-decoration: none;
	  color: inherit;
  }
  
  .cta {
	  position: relative;
	  margin: auto;
	  padding: 19px 22px;
	  transition: all .2s ease;
  }
  
  .cta:before {
	  content: "";
	  position: absolute;
	  top: 0;
	  left: 0;
	  display: block;
	  border-radius: 28px;
	  background: rgba(255, 171, 157, 0.5);
	  width: 56px;
	  height: 56px;
	  transition: all .3s ease;
  }
  
  .cta span {
	  position: relative;
	  font-size: 20px;
	  line-height: 18px;
	  font-weight: 900;
	  letter-spacing: .25em;
	  text-transform: uppercase;
	  vertical-align: middle;
  }
  
  .cta svg {
	  position: relative;
	  top: 0;
	  margin-left: 10px;
	  fill: none;
	  stroke-linecap: round;
	  stroke-linejoin: round;
	  stroke: #111;
	  stroke-width: 2;
	  transform: translateX(-5px);
	  transition: all .3s ease;
  }
  
  .cta:hover:before {
	  width: 100%;
	  background: #ffab9d;
  }
  
  .cta:hover svg {
	  transform: translateX(0);
  }
  
  .cta:active {
	  transform: scale(0.96);
  }