<div class="sticky-container" *ngIf="servicio.user | async as user">
    <div id="container-floating">   
        <div class="nd1 nds" data-toggle="tooltip" data-placement="left"  *ngFor="let item of listaTareas">
            
                <div class=Back>
                  <h3>{{item.titulo}}</h3>
                  <h5>{{item.descripcion}}</h5>
                  <h5>{{comprobacion(user,item)}}</h5>
                  <h5>{{item.fecha_entrega}}</h5>
                  <button class="btn btn-primary">Entregar</button>
                </div>
              
          </div>
        <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create">
          <p class="plus">+</p>
          <img class="edit" src="http://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
        </div>
      </div>
    </div>
      <!--   
                <input type="file"  multiple="multiple" (change)="waitFor($event)">
                <button (click)="upload(item.id)">Prueba BBDDD</button>
      -->