<div style="background-image: url(../../../../../assets/20916.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
width: 100%;
height: 100%;">
<mat-grid-list  cols="2" rowHeight="2:1">
	<mat-grid-tile *ngFor=" let item of servicio.listaUsuarios">
	<div class="courses-container">
		<div class="course">
			<div class="course-preview">
				<img [src]="[item.photoURL]" width="100%">
			</div>
			<div class="course-info">

				<h4>{{item.email}}</h4>
				<h1>{{item.displayName}}</h1>

			</div>
		</div>
	</div>
	</mat-grid-tile>

</mat-grid-list>
</div>