
  <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <app-title-card></app-title-card>
        <!--<h1 class="mb-1">Pequedines</h1>
        <br>
        
        <h3 class="mb-5">
          Una página web desarrollada y personalizada para las alumnas de EDI del CES Juan Pablo Segundo
        </h3>-->
        <br> <br> <br> <br>
        <app-button></app-button>
      </div>
      <div class="overlay"></div>
    </header>
  
   
  
  
    <!-- Footer -->
    <footer class="footer text-center" style="background-color: currentColor;">
      <div class="container">
        <ul class="list-inline mb-5">

          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="https://es-es.facebook.com/cesjuanpablosegundo">
              <i class="fa fa-facebook"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="https://twitter.com/CESJuanPabloII?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
              <i class="	fa fa-twitter"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white" href="https://www.cesjuanpablosegundo.es/?gclid=EAIaIQobChMI9IePjtHH6QIVytvVCh1k8AgbEAAYASAAEgJLGfD_BwE">
              <i class="fa fa-google"></i>
            </a>
          </li>
          &nbsp;&nbsp;
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white" href="https://www.instagram.com/isaac.sampedro/?hl=es">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          
          
        </ul>
        <p class="text-muted small mb-0">Powered by &copy; quadrakill</p>
      </div>
    </footer>
